---
import Blog from "@/components/Blog.astro";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import BlogCategories from "@/components/blog/BlogCategories.astro";
import FeaturedBlog from "@/components/blog/FeaturedBlog.astro";
import Base from "@/layouts/Base.astro";
import BlogOrderToggle from "@/layouts/components/blog/BlogOrderToggle.astro";
import { getBlogListing } from "@/lib/blogListing";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";

const categories = await getTaxonomy("blog", "categories");
const { featuredPosts, sortedPosts } = await getBlogListing("oldest");
---

<Base title={"categories"}>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={{ title: "Categories" }} />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <BlogOrderToggle order="oldest" section="categories" />
      <FeaturedBlog posts={featuredPosts} />
      <BlogCategories categories={categories} />
      <h2 class="h4 mb-4">Blog Posts</h2>
      <Blog posts={sortedPosts} />
    </div>
  </section>
</Base>
